<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;

        margin:0;

    }

    .wrap{

        width: 100svw;
        min-height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container{
        width: 100svw;
        height: 25svh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    p{

        padding-bottom: 10px;

    }
    .ingredient{
        padding-top: 20px;
    }
    .ingredient-container{
        display: flex;
        flex-direction: column;
    }
    th{
        padding-right: 10px;
    }
    form{
        padding-bottom: 10px;
    }




    /* -------- */


</style>

</head>

<body>

<div class="wrap">


        <div class = "container">

        <!-- <p><%= coffee[0].menuNumber %>번 </p> -->
        <p>메뉴명 : <%= coffee[0].menuName %></p>
        <p>가격 :₩ <%= coffee[0].menuPrice %></p>



            <form action = "/addItem/<%= menuNumber %>" method="post">

                <input type = "number" name = "count" value = "1" min="1", max="100"/>
                <input type="hidden" class="menuName"  name = "menuName" value = <%= coffee[0].menuName %> />
                <input type="hidden" class="menuNumber"  name = "menuNumber" value = <%= menuNumber %> />
                <input type="hidden" class="menuPrice" name = "menuPrice" value = <%= coffee[0].menuPrice %> />
                <input type="hidden" name = "directOrder" value = "0" />

                <button type = "submit" >담기</button>
            </form>


            <!-- 바로구매하기 태그 -->
            <!-- <form action = "/purchase" method="post">
                <input type = "number" name = "count" value = "1"/>
                <input type="hidden" class="menuName"  name = "menuName" value = <%= coffee[0].menuName %> />
                <input type="hidden" class="menuNumber"  name = "menuNumber" value = <%= menuNumber %> />
                <input type="hidden" class="menuPrice" name = "menuPrice" value = <%= coffee[0].menuPrice %> />


                <button type = "submit">바로구매하기</button>
            </form>
 -->

                <p class = "ingredient">영양성분</p>
                <table>

                <thead>

                    <tr>
                        <th>재료이름</th>
                        <th>필요한 양</th>
                    </tr>
                </thead>
                <tbody>

                <div class="ingredient-container">
                <% for(var i = 0; i< ingredient.length; i++) { %>
                    <tr>

                    <th><%= ingredient[i].ingredientName %></th>
                    <th><%= ingredient[i].ingredientSize %></th>
                    </tr>
                    <% } %>
                </div>
                </tbody>
                </table>
    </div>
</div>

</div>


</body>

</html>