<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;

        margin:0;

    }

    .wrap{

        width: 100svw;
        min-height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container{
        width: 100svw;
        height: 25svh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    p{

        padding-bottom: 10px;

    }


    /* .box{
        display: flex;
        justify-content: space-between;
        margin-top: 20%;
        width: 70%;
        height: 1000px;
        border-radius: 8px;
        padding: 10px;
        box-shadow: rgb(0 0 0 / 15%) 0px 8px 16px 0px;
        text-align: center;

    } */

    /* p{
        padding-bottom: 10px;
    }

    .State{
        margin-top: 30px;
    }

    .button2{
        margin-top:20px;
    }

    .image{
        padding-left: 10%;
    } */

    /* -------- */


</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <% include ./navbar.ejs %>

<div class="wrap">


        <div class = "container">

        <!-- <p><%= coffee[0].menuNumber %>번 </p> -->
        <p>메뉴명 : <%= coffee[0].menuName %></p>
        <p>수량 : 몇개?</p>
        <p>가격 :₩ <%= coffee[0].menuPrice %></p>



        <div class="action">
            <form action = "/addItem/<%= menuNumber %>" method="post">
            <input type = "number" name = "count" value = "1"/>
            <input type="hidden" class="menuName"  name = "menuName" value = <%= coffee[0].menuName %> />
            <input type="hidden" class="menuNumber"  name = "menuNumber" value = <%= menuNumber %> />
            <input type="hidden" class="menuPrice" name = "menuPrice" value = <%= coffee[0].menuPrice %> />

            <button type = "submit" >담기</button>
            </form>

        </div>
    </div>
</div>

</div>


</body>

</html>