<!DOCTYPE html>
<head>

    <!-- css -->
    <style>

    * {
        padding: 0;
        margin: 0;
    }
    .wrap {
        width: 100svw;
        min-height: 100svh;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: 100svw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

    }
    th{
        padding-right:10px;
    }

</style>
<!-- -- -->
</head>
<body>

   <div class="wrap">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="thead">주문번호</th>
                    <th scope="col" class="thead">메뉴이름</th>
                    <th scope="col" class="thead">가격</th>
                    <th scope="col" class="thead">지불방식</th>
                    <th scope="col" class="thead">지불날짜</th>
                    <th scope="col" class="thead">고객아이디</th>
                    <th scope="col" class="thead">고객이름</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i =0; i< data.length; i++ ){ %>
                <tr>
                    <th>
                        <%= data[i].orderId %>
                    </th>
                    <th>
                        <%= data[i].menuName %>
                    </th>
                    <th>
                        <%= data[i].menuPrice %>
                    </th>
                    <th>
                        <%= data[i].orderType %>
                    </th>
                    <th>
                        <%= data[i].orderDate %>
                    </th>
                    <th>
                        <%= data[i].customer_customerId %>
                    </th>
                   
                    <th>
                        <%= data[i].customer_customerName %>
                    </th>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
   </div> 
</body>

</html>