<!DOCTYPE html>
<head>
<style>
    /* css */

    * {

        padding:0;

        margin:0;

    }

    .wrap{

        width: 100svw;
        min-height: 50svh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container{
        width: 100svw;
        height: 25svh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    p{

        padding-bottom: 10px;

    }
    .ingredient{
        padding-top: 20px;
    }
    .ingredient-container{
        display: flex;
        flex-direction: column;
    }
    th{
        padding-right: 10px;
    }
    form{
        padding-bottom: 10px;
    }


    /* .box{
        display: flex;
        justify-content: space-between;
        margin-top: 20%;
        width: 70%;
        height: 1000px;
        border-radius: 8px;
        padding: 10px;
        box-shadow: rgb(0 0 0 / 15%) 0px 8px 16px 0px;
        text-align: center;

    } */

    /* p{
        padding-bottom: 10px;
    }

    .State{
        margin-top: 30px;
    }

    .button2{
        margin-top:20px;
    }

    .image{
        padding-left: 10%;
    } */

    /* -------- */


</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

<div class="wrap">


        <div class = "container">

        <p>메뉴명 : <%= coffee[0].menuName %></p>
        <p>가격 :₩ <%= coffee[0].menuPrice %></p>

                <p class = "ingredient">영양성분</p>
                <table>

                <thead>

                    <tr>
                        <th>재료이름</th>
                        <th>재료양</th>
                        <th>
                            <form action = "/recipe/addPage" method="post">
                        <input type = "hidden" name = "menuNumber" value = "<%= coffee[0].menuNumber %>" />
                                <button type="submit">재료 추가</button>
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <form action = "/recipe/update" method="post">


                        <% for(var i = 0; i < ingredient.length; i++) { %>
                        <input type = "hidden" name = "menuNumber" value = "<%= coffee[0].menuNumber %>" />
                        <input type = "hidden" name = "ingredientNumber" value = "<%= ingredient[i].ingredientNumber %>" />
                    <tr>
                        <th>

                        <input type = "text" name = "name" value = "<%= ingredient[i].ingredientName %> " />
                        </th>

                        <th>
                        <input type = "text" name = "size" value = "<%= ingredient[i].ingredientSize %>"/>
                        </th>

                        <th>
                            <button type = "submit">수정</button>
                    </form>
                        </th>

                        <th>
                                <form action = "/recipe/del/<%= ingredient[i].ingredientNumber %>" method="post">
                                    <input type = "hidden" name = "ingredientNumber" value = "<%= ingredient[i].ingredientNumber %>" />
                                    <input type = "hidden" name = "menuNumber" value = "<%= coffee[0].menuNumber %>" />
                                    <button type = "submit">재료 삭제</button>
                                </form>
                        </th>
                    </tr>

                        <% } %>
                </tbody>

</div>

</div>


</body>

</html>